/data
/logs

# Python
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
*.egg-info/
dist/

# IDE files
.idea/
.vscode/

# Compiled files
*.pyc
*.pyo
*.pyd

# Temporary files
*.bak
*.swp
*~

# Logs
*.log

# User-specific files
*.suo
*.user
*.sln.docstates

# macOS
.DS_Store
